/* ==========================================
   МОБИЛЬНОЕ МЕНЮ
========================================== */

@media (max-width: 992px){

    .burger{

        display:block;

        flex-direction:column;

        justify-content:center;

        gap:6px;

        width:42px;

        height:42px;

        cursor:pointer;

        z-index:1200;

    }

    .burger span{

        width:30px;

        height:3px;

        border-radius:5px;

        background:#fff;

        transition:.3s;

    }

    .burger.active span:nth-child(1){

        transform:translateY(9px) rotate(45deg);

    }

    .burger.active span:nth-child(2){

        opacity:0;

    }

    .burger.active span:nth-child(3){

        transform:translateY(-9px) rotate(-45deg);

    }

    .menu{

        position:fixed;

        top:90px;

        left:-100%;

        width:100%;

        height:calc(100vh - 90px);

        background:#101010;

        display:flex;

        flex-direction:column;

        justify-content:flex-start;

        align-items:center;

        gap:35px;

        padding-top:50px;

        transition:.35s;

    }

    .menu.active{

        left:0;

    }

    .menu a{

        font-size:22px;

    }

    .header-btn{

        display:none;

    }

}

/* ==========================================
   HERO
========================================== */

@media (max-width:992px){

    .hero{

        padding-top:120px;

    }

    .hero-content{

        grid-template-columns:1fr;

        text-align:center;

    }

    .hero-text{

        margin:auto;

        max-width:700px;

    }

    .hero-buttons{

        justify-content:center;

    }

    .hero-stats{

        justify-content:center;

    }

    /* Коня скрываем */

    .hero-image{

        display:none;

    }

}

/* ==========================================
   ПЛАНШЕТ
========================================== */

@media (max-width:768px){

    .hero h1{

        font-size:46px;

    }

    .hero p{

        font-size:18px;

    }

    .hero-buttons{

        flex-direction:column;

        align-items:center;

    }

    .hero-buttons .btn{

        width:280px;

    }

    .hero-stats{

        gap:25px;

    }

}

/* ==========================================
   ТЕЛЕФОН
========================================== */

@media (max-width:480px){

    .hero h1{

        font-size:34px;

    }

    .hero p{

        font-size:16px;

    }

    .hero-stats{

        flex-wrap:wrap;

        gap:18px;

    }

    .hero-stats strong{

        font-size:28px;

    }

    .section-header h2{

        font-size:30px;

    }

}